.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin-bottom: 70px;
}

.titlesContainer {
    margin-top: 120px;
    margin-bottom: 50px;
}

.title {
    font-size: 83px;
    font-family: "SofiaPro-Bold", sans-serif;
    color: var(--dark-grey);
}

.subtitlesContainer {
    padding-left: 8px;
}

.subtitle {
    color: var(--light-grey);
}

.tableContainer {
    width: 38%;
    padding: 0 60px;
}

.jobRow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;
}

.jobTitleLink {
    position: relative;
    text-decoration: none;
}

.jobTitleLink:hover {
    text-decoration: underline;
}

.subInfoContainer {
    font-size: 16px;
    color: var(--dark-grey);
}
