.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.title {
    font-size: 83px;
    font-family: "SofiaPro-Bold", sans-serif;
    color: var(--dark-grey);
    margin-bottom: -40px;
    margin-top: 20px;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    border: 1px #ebeff2 solid;
    border-radius: 4px;
    overflow: hidden;
    background-color: #ebeff2;
}

.form {
    flex: 1;
    padding: 34px 40px;
    background-color: white;
}

.inputLabel {
    color: var(--dark-grey);
    margin-bottom: 5px;
    margin-left: -1px;
    font-size: 17px;
}

.form > input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 60px;
    outline: none;
    background-color: #ebeff2;
    margin-bottom: 20px;
    text-indent: 24px;

    transition: all 0.10s ease;
}

.form > input:focus {
    outline: none;
    background-color: #dfe3e6;
}

textarea {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 60px;
    outline: none;
    background-color: #ebeff2;
    margin-bottom: 20px;
    text-indent: 24px;
    padding-top: 20px;

    transition: all 0.10s ease;
}

textarea:focus {
    outline: none;
    background-color: #dfe3e6;
}

.buttonContainer {
    position: relative;
    height: 100%;
    margin: 0;
}

.buttonContainer > input[type="submit"] {
    position: relative;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 60px;
    outline: none;
    padding-bottom: 2px;
    color: white;
    background-color: var(--pink);
    cursor: pointer;
    font-family: "SofiaPro-Bold", sans-serif;
    transition: all 0.14s ease;
    z-index: 1;
}

.buttonContainer > input[type="submit"]:hover {
    transform: translateY(-3px);
}

.buttonContainer > input[type="submit"]:active {
    transform: translateY(0px);
    background-color: var(--dark-pink);
}

.buttonShadow {
    position: relative;
    height: 8px;
    top: -8px;
    width: 120px;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 0;
    background-color: var(--dark-pink);
}

.contactInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    flex: 1;
    padding: 34px 40px;
}

.contactTitle {
    font-size: 32px;
    font-family: "SofiaPro-Bold", sans-serif;
    color: var(--dark-grey);
    margin-top: -8px;
    margin-bottom: 8px;
}

.contactLabel {
    font-family: "SofiaPro-Bold", sans-serif;
    color: var(--dark-grey);
}

.contactValue {
    color: var(--light-grey);
    margin-bottom: 8px;
}

.socialLinksContainer {
    padding: 8px 0;
    margin-left: -3px;
}

.socialLink {
    padding: 0 4px;
}

.socialLinkIcon {
    border-radius: 100px;
    padding: 6px;
    border: 1px var(--pink) solid;

    background-color: white;
    font-size: 14px;
    color: var(--pink);

    transition: all 0.15s ease;
}

.socialLinkIcon:hover {
    background-color: var(--pink);
    color: white;
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 70px;
    }
}

@media screen and (max-width: 890px) {
    .title {
        font-size: 60px;
    }
}

@media screen and (max-width: 760px) {
    .container {
        padding-top: 110px;
        padding-bottom: 75px;
        justify-content: flex-start;
    }

    .title {
        font-size: 50px;
        margin: 0;
        margin-bottom: 36px;
    }

    .contentContainer {
        flex-direction: column;
    }

    .form {
        width: 100%;
        box-sizing: border-box;
    }

    .contactInfoContainer {
        width: 100%;
        box-sizing: border-box;
    }

    .contactInfoContentContainer {
        padding-top: 4px;
    }
}

@media screen and (max-width: 620px) {
    .title {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 30px;
    }
}

@media screen and (max-height: 900px) {
    .container {
        min-height: 900px;
    }
}
