.container {
    padding-left: 160px;
    padding-right: 70px;
    box-sizing: border-box;
}

@media screen and (max-width: 1300px) {
    .container {
        padding-left: 175px;
    }
}

@media screen and (max-width: 685px) {
    .container {
        padding-left: 130px;
    }
}

@media screen and (max-width: 556px) {
    .container {
        padding-left: 120px;
    }
}

@media screen and (max-width: 462px) {
    .container {
        padding-left: 115px;
    }
}
