.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(160deg, var(--teal), var(--purple));
}

.icon {
    position: absolute;
    top: -3px;
    left: -50px;
    font-size: 34px;
    color: var(--pink);
}
