@tailwind base;

:root {
  --main-teal: #01bdc8;
  --teal2: #00a4af;
  --teal3: #008a95;
  --teal4: #00717c;
  --teal5: #005762;
  --teal6: #003e49;
  --main-pink: #c801bd;
  --main-yellow: #bdc801;
  --accent: #fe2c55;
  --accentDark: #cb0022;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka One", sans-serif;
}

a,
ul,
li,
p,
div {
  font-family: "Lato", sans-serif;
}

@tailwind components;

#nav {
  background-color: #fff;
  color: var(--main-teal);
}

.hero {
  height: "100vh";
  margin-top: "-85.55px";
  background-image: "linear-gradient(#01bdc8 15%, #fff 50%)";
}

.big-text {
  font-size: 6rem;
  font-weight: 900;
}

.carousel .slide {
  background: transparent !important;
}

.insta-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 0.5rem;
  position: relative;
}

.insta-container {
  position: relative;
}

.insta-text-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--main-teal);
  border-radius: 0.25rem;
}

.insta-container:hover,
.insta-text-overlay:hover {
  opacity: 0.9;
  cursor: pointer;
}

.insta-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

.footer-lists li {
  font-family: "Fredoka One", sans-serif;
}

.beta-submit,
.contact-submit,
.partnerships-btn {
  background-color: var(--accent);
  color: #fff;
}

.beta-submit:hover,
.contact-submit:hover,
.partnerships-btn:hover {
  background-color: var(--accentDark);
}

.border-gray-3sides {
  border-top: 1px solid #a0aec0;
  border-left: 1px solid #a0aec0;
  border-bottom: 1px solid #a0aec0;
  border-right: 1px solid transparent;
}

input:focus {
  border: 1px solid var(--main-teal);
  outline: none;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 2rem;
}

.friends-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
}

@media screen and (max-width: 1280px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .features-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@tailwind utilities;

.lato {
  font-family: "Lato", sans-serif;
}

.fredoka {
  font-family: "Fredoka One", sans-serif;
}

.teal-background {
  background-color: var(--main-teal);
}

.teal {
  color: var(--main-teal);
}

.accent {
  color: var(--accent);
}

.pink {
  color: var(--main-pink);
}

.text-xs-sm {
  font-size: 0.875rem;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.slanted {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}
