:root {
    --purple: #6977ff;
    --teal: #00fcde;
    
    --pink: #ff236b;
    --dark-pink: #b3194c;

    --dark-grey: #484848;
    --light-grey: #f6fafd;
}

* {
    margin: 0;
    padding: 0;
    font-family: "SofiaPro-Regular", sans-serif;
    font-size: 18px;
}
