@tailwind base;

:root {
  --main-teal: #01bdc8;
  --teal2: #00a4af;
  --teal3: #008a95;
  --teal4: #00717c;
  --teal5: #005762;
  --teal6: #003e49;
  --main-pink: #c801bd;
  --main-yellow: #bdc801;
  --accent: #fe2c55;
  --accentDark: #cb0022;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka One", sans-serif;
}

a,
ul,
li,
p,
div {
  font-family: "Lato", sans-serif;
}

@tailwind components;

#nav {
  background-color: #fff;
  color: var(--main-teal);
}

.nav-item-hover:hover {
  color: var(--teal3);
}

.hero {
  height: calc(100vh - 85.55px);
}

.home-video {
  max-width: 24rem;
}

.carousel .slide {
  background: transparent !important;
}

.carousel .control-dots .dot {
  background: var(--main-teal) !important;
}

.carousel.carousel-slider .control-arrow {
  background: var(--main-teal) !important;
  top: 50% !important;
  opacity: 1 !important;
  border-radius: 0.25rem !important;
}

.carousel .control-prev.control-arrow {
  max-height: 50px;
}

.carousel .control-next.control-arrow {
  max-height: 50px;
}

.carousel.carousel-slider .control-arrow:hover {
  background: var(--teal3) !important;
}

.insta-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
}

.insta-container {
  position: relative;
}

.insta-text-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--main-teal);
  border-radius: 0.25rem;
}

.insta-container:hover,
.insta-text-overlay:hover {
  opacity: 0.9;
  cursor: pointer;
  border-radius: 0.25rem;
}

.insta-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

.footer-lists li {
  font-family: "Fredoka One", sans-serif;
}

.footer-icon {
  border: 1px solid var(--accent);
  border-radius: 50%;
  padding: 0.5rem;
  height: 35px;
  width: 35px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
}

.footer-icon:hover {
  background-color: var(--accentDark);
  color: #fff;
  border: 1px solid var(--accentDark);
}

.beta-submit,
.contact-submit,
.partnerships-btn {
  background-color: var(--accent);
  color: #fff;
}

.beta-submit:hover,
.contact-submit:hover,
.partnerships-btn:hover {
  background-color: var(--accentDark);
}

.border-gray-3sides {
  border-top: 1px solid #a0aec0;
  border-left: 1px solid #a0aec0;
  border-bottom: 1px solid #a0aec0;
  border-right: 1px solid transparent;
}

input:focus,
textarea:focus {
  border: 1px solid var(--main-teal);
  outline: none;
}

.contact-section-width {
  width: 66.66vw;
}

.terms-list p,
.privacy p,
.terms-list ul,
.privary ul,
.terms-list li,
/* .privacy li, */
.terms-list ol,
.privacy ol {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.privacy ul li {
  padding-left: 0.75rem;
}

.main-list {
  font-family: "Fredoka One", sans-serif;
  color: var(--main-teal);
  text-transform: lowercase;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sub-list {
  margin-left: 0.75rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: #4a5568;
}

.terms-list p,
.terms-list ul,
.privacy p,
.privacy ul {
  color: #718096;
}

.privacy-table th,
.privacy-table td {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.apply-btn {
  background-color: var(--accent);
  color: #fff;
  font-family: "Fredoka One", sans-serif;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: lowercase;
}

.apply-btn:hover {
  background-color: var(--accentDark);
}

@media screen and (max-width: 1280px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .contact-section-width {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .features-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .insta-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .home-video {
    max-width: 12rem;
  }
}

@tailwind utilities;

.lato {
  font-family: "Lato", sans-serif;
}

.fredoka {
  font-family: "Fredoka One", sans-serif;
}

.teal-background {
  background-color: var(--main-teal);
}

.teal {
  color: var(--main-teal);
}

.accent {
  color: var(--accent);
}

.pink {
  color: var(--main-pink);
}

.text-xs-sm {
  font-size: 0.875rem;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.slanted {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}
