.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: -1;
    color: #484848;
}

.mainElements {
    margin-left: 20px;
    margin-right: 20px;
}

.leftContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 50%;
    padding: 0 40px;
    margin-left: -24px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-top: 255px;
}

.tagline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.tagline > div {
    font-size: 83px;
    font-family: "SofiaPro-Bold", sans-serif;
}

.subTagline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.subTagline > div {
    font-size: 28px;
    font-family: "SofiaPro-Regular", sans-serif;
    color: var(--light-grey);
}

.lastSubTagline {
    margin-bottom: 50px;
}

.signUpContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.callToAction {
    font-size: 20px;
}

.callToAction > span {
    font-size: 20px;
    font-family: "SofiaPro-Bold", sans-serif;
}

.callToAction {
    margin-top: 5px;
    margin-bottom: 2px;
}

.inputContainer {
    width: 100%;
    margin-top: -24px;
}

.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form > input[type="email"] {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 60px;
    outline: none;
    padding-left: 20px;
    background-color: #ebeff2;

    transition: all 0.10s ease;
}

.form > input[type="email"]::placeholder {
    position: relative;
    top: 0px;
}

.form > input[type="email"]:focus {
    outline: none;
    background-color: #dfe3e6;
}

.buttonContainer {
    position: relative;
    height: 100%;
    margin: 0;
}

.buttonShadow {
    position: relative;
    top: 30px;
    margin-left: -110px;
    height: 60px;
    width: 110px;
    border: none;
    border-radius: 0 4px 4px 0;
    outline: none;
    padding: 0;
    background-color: var(--dark-pink);
    z-index: 1;
}

.buttonContainer > input[type="submit"] {
    position: relative;
    top: -30px;
    margin-left: -110px;
    height: 60px;
    width: 110px;
    border: none;
    border-radius: 0 4px 4px 0;
    outline: none;
    padding-bottom: 2px;
    color: white;
    background-color: var(--pink);
    cursor: pointer;
    font-family: "SofiaPro-Bold", sans-serif;
    transition: all 0.14s ease;
    z-index: 4;
}

.buttonContainer > input[type="submit"]:hover {
    transform: translateY(-3px);
}

.buttonContainer > input[type="submit"]:active {
    transform: translateY(0px);
    background-color: var(--dark-pink);
}

.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 360px;
    padding-top: 20px;
}

.video {
    width: 100%;
}

.downloadContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--dark-grey);
    padding: 30px 0;
}

.downloadTagline {
    font-size: 26px;
    color: white;
    margin-bottom: 4px;
}

.appDownloadContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.appDownload {
    max-height: 100%;
    min-width: 12%;
    margin: 4px;
}

.comingSoonContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 85%);
}

.comingSoonText {
    color: white;
    font-size: 28px;
    margin-bottom: 3px;
}

@media screen and (max-width: 1389px) {
    .content {
        padding-top: 265px;
    }

    .tagline > div {
        font-size: 70px;
    }
}

@media screen and (max-width: 1221px) {
    .content {
        padding-top: 250px;
    }
}

@media screen and (max-width: 1174px) {
    .tagline > div {
        font-size: 60px;
    }
}

@media screen and (max-width: 1127px) {
    .mainElements {
        margin: 0;
    }

    .leftContainer {
        padding-left: 22px;
    }
}

@media screen and (max-height: 900px) and (min-width: 1025px) {
	.container {
        height: 900px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 1000px;
    }

    .mainElements {
        margin: 0;
    }

    .leftContainer {
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 0;
        padding-top: 150px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .content {
        padding: 0;
    }

    .videoContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        padding-top: 24px;
    }

    .video {
        width: auto;
        height: 42%;
    }
}

@media screen and (max-width: 811px) {
    .tagline > div {
        font-size: 60px;
    }

    .videoContainer {
        padding-top: 24px;
    }
}

@media screen and (max-width: 719px) {
    .videoContainer {
        padding-top: 4px;
    }
}

@media screen and (max-width: 710px) {
    .tagline > div {
        font-size: 50px;
    }

    .videoContainer {
        padding-top: 14px;
    }
}

@media screen and (max-width: 630px) {
    .videoContainer {
        padding-top: 20px;
    }

    .video {
        width: auto;
        height: 35%;
    }
}

@media screen and (max-width: 530px) {
    .container {
        height: 1100px;
    }

    .tagline > div {
        line-height: 50px;
        margin-bottom: 7px;
    }

    .videoContainer {
        padding-top: 22px;
    }

    .video {
        height: 37%;
    }
}

@media screen and (max-width: 467px) {
    .videoContainer {
        padding-top: 6px;
    }
}

@media screen and (max-width: 436px) {
	.container {
        height: 1200px;
    }

    .videoContainer {
        padding-top: 38px;
    }
}
