@font-face {
    font-family: "SofiaPro-Light";
    src: url("SofiaPro-Light.otf");
}

@font-face {
    font-family: "SofiaPro-Regular";
    src: url("SofiaPro-Regular.otf");
}

@font-face {
    font-family: "SofiaPro-Bold";
    src: url("SofiaPro-Bold.otf");
}
